@*@page "/empleado"
@inject IEmpleadoRepository _empleadoRepository
@inject IJSRuntime _jsRuntime
@inject NavigationManager _navigationManager

<_DeleteConfirmation IsParentComponentProcessing="IsLoading" ConfirmationChanged="ConfirmDelete_Click"></_DeleteConfirmation>
<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Lista de empleados</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="empleado/create" class="btn btn-primary form-control">Nueva Empresa </a>
    </div>
    <div class="col-12 p-3">
        @if (Empleados.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in Empleados)
                    {
                        <tr>
                            <td>
                                @emp.Nombre
                            </td>

                            <td>
                                <NavLink href="@($"empleado/edit/{emp.Id}")" class="btn-primary btn">Editar</NavLink>
                                <button class="btn btn-danger" @onclick="()=>HandleDelete(emp.Id)">Eliminar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (IsLoading)
            {
                //loading gif
                <div class="text-center">
                    <img src="/images/loading.gif">
                </div>
            }
            else
            {
                //no records
                <p>No hay empleados cargados.</p>
            }
        }
    </div>
</div>

@code {
    private IEnumerable<EmpleadoDTO> Empleados { get; set; } = new List<EmpleadoDTO>();
    public bool IsLoading { get; set; }
    private int DeleteEmpleadoId { get; set; } = 0;

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationState;
        if (!authState.User.Identity.IsAuthenticated)
        {
            var uri = new Uri(_navigationManager.Uri);
            _navigationManager.NavigateTo($"/identity/account/login?returnUrl={uri.LocalPath}", forceLoad: true);
        }
        else
        {
            if (!authState.User.IsInRole(JSVProject_Common.SD.Role_Admin))
            {
                _navigationManager.NavigateTo("/ErrorPage");
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadEmpleados();
        }
    }

    private async Task LoadEmpleados()
    {
        IsLoading = true;
        StateHasChanged();
        Empleados = await _empleadoRepository.GetAll();
        IsLoading = false;
        StateHasChanged();
    }

    private void HandleDelete(int id)
    {
        DeleteEmpleadoId = id;
        _jsRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");
    }

    public async Task ConfirmDelete_Click(bool isConfirmed)
    {
        IsLoading = true;
        if (isConfirmed && DeleteEmpleadoId != 0)
        {
            //delete
            EmpleadoDTO empleado = await _empleadoRepository.Get(DeleteEmpleadoId);

            await _empleadoRepository.Delete(DeleteEmpleadoId);
            await _jsRuntime.ToastrSuccess("el empleado se elimino correctamente");
            await LoadEmpleados();
            await _jsRuntime.InvokeVoidAsync("HideDeleteConfirmationModal");
        }
        IsLoading = false;
    }
}
*@